body {
    font-family: 'Roboto', sans-serif;
    background: #e2e2e2
}

#forum {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.topic {
    position: relative;
    background: white;
    height: 75px;
    line-height: 55px;
    color: black;
    padding-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.thumbnail {
    float: left;
    width: 30%;
}

.title, .description {
    margin: 0;
    height: 20px;
}

.title {
    font-size: 20px;
    width: 30%;
    margin-bottom: 5px;
}

.last-posted {
    float: left;
    font-size: 15px;
    width: 30%;
    margin-bottom: 5px;
    margin-top: 30px;
    color: dimgray;
}

.topic .align-right {
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
    color: dimgray
}