body {
    font-family: 'Roboto', sans-serif;
    background: #e2e2e2
}

#app {
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding-top: 30px;
}
.red-backdrop {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0px;
    left: 0px;
    background: #2196F3;
}

.topic {
    position: relative;
    background: white;
    height: 75px;
    line-height: 75px;
    color: black;
    padding-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.topic:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.thumbnail {
    float: left;
    width: 200px;
}

.title, .description {
    margin: 0;
    height: 20px;
}

.title {
    font-size: 20px;
    margin-bottom: 5px;
}

.last-posted {
    float: left;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 30px;
    color: dimgray;
    margin-right: 20px;
}

.topic .align-right {
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
    color: dimgray
}

#post {
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}


.header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
}

.profile-pic {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

#post #title {
    float: left;
    text-align: left;
    font-size: 20px;
}

.content {
    float: none;
    text-align: left;
    padding-left: 20px;
}

#post .menu {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
}

#comments {
    margin-top: 20px;
}

.comment {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#new-comment {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

#new-comment text-area {
    width: 100%;
    height: 200px;
}

#new-post {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

#new-post text-area {
    width: 100%;
    height: 200px;
}

.back-button {
    position: absolute;
    left: 0px;
    top: -70px;
}

.comment.v-enter, .comment.v-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}